@model MTC.FSP.Web.Models.MTCRateTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MTCRateTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeatID)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CurrentMonthRate)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.CurrentMonthRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p100)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p100)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p150)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p150)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p200)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p200)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p250)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p250)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p300)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p300)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p350)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p350)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p400)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p400)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p450)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p450)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p500)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p500)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p550)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p550)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p600)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p600)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p650)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p650)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p700)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p700)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p750)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p750)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p800)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p800)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.MTCRateTable1.RateTableID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTCRateTable1.RateTableID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTCRateTable2.RateTableID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTCRateTable2.RateTableID)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RateTableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
